{%load bootstrap3%} {% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title>GALLERY - {{title}}</title> {{else}}
    <title>WELCOME TO MY GALLERY</title>
    {%endif%} {% block styles %} {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> {%endblock%}
</head>

<body>
    {%include "navbar.html"%}{%for image in imagess%}
    <div class="container">
        <div class="row" style="display:flex">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img src="{{photo.image.url}}" class="img-responsive" alt="Image">
                <p>{{image.image_name}}</p>
                <i>Posted {{image.pub_date|timesince}}</i>
            </div>
        </div>
    </div>
    {%endfor%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}

</body>

</html>