h1 {
    color: rgb(201, 24, 92);
}

.card {
    padding-bottom: 12px;
    height: 45vh;
}

.card-home {
    margin: 1rem;
}

.gallery {
    color: whitesmoke;
}

body {
    background-color: aquamarine;
}